.v-application a {
    text-decoration: none;
}

.v-application--wrap {
    background: #F7F7F7
}

.theme--light {
    .v-navigation-drawer {
        background-color: $primary;
        & .v-navigation-drawer__content{

            h1 {
                padding:2rem;
                font-size: 1.75rem;
                font-weight: 400;
                a{ 
                    color: $text;
                }
                .logo {
                    display: block;
                    background: url('~@/assets/tmap_logo.png') center 0 no-repeat;
                    //background-color: #fff;
                    width: 94px*0.8;
                    height: 36px * 0.8;
                    font-size: 0px;
                    background-size: 100%;
                    margin-right: .5rem;
                }

                
            }
        }
        
    }

    .v-app-bar.v-toolbar.v-sheet {
        background-color: $secondary
    }

    .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {

        color: #ECF0F1 !important; 
        
        span {
            color: #BAB8B8
        }
        .v-list-item__title{
            padding-left: 1rem;
            h6{margin:0}
        }
    }

    .v-list-item {
        
        &.v-list-item--active {
            color: #ECF0F1;
            text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
            background: linear-gradient(#334556, #2C4257),
            #2A3F54;
            box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0,
            inset rgba(255, 255, 255, 0.16) 0 1px 0;
            border-right: 5px solid #1ABB9C;

        }
        & .v-list-item__title{
            padding-left:0 !important;
        }
        & .user-name {
            padding-left: 1rem !important;
        }
    }

}