ul,
ol {
    padding: 0
}

li {
    list-style: none;
}
input,
button,
select,
optgroup,
textarea {
    margin: 0; // Remove the margin in Firefox and Safari
    font-family: inherit;
    font-size : inherit;
    line-height: inherit;
}

.tr{text-align: right;}