:root {
    --primary: #2A3F54;
    --secondary: #EDEDED;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color:var(--secondary);
    
}
.theme--light.v-navigation-drawer {
    background-color: var(--primary);
}